@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

/*General Page Body Formatting*/
body{
	font-family: 'Lato','Helvetica Neue','Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url('../img/background.jpg');
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
	a:link {	
    	color: #0000AA;
    	text-decoration: none;
	}
	a:visited {
	    color: #0000AA;
	    text-decoration: none;
	}
	a:hover {
		color: #0000EE;
	}
	input:focus {
		color: #0000EE;
	}


/*Headings*/
header, h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue','Helvetica', sans-serif;
	font-weight: 300;
}
h1{
	font-size: 300%;
	margin: 0px 0px 0px 0px;
}
h2, h3{
	color: #505050;
}
h2 {
	font-size: 150%;
	margin: 0px 0px 0px 0px;
}
h3 {
	font-size: 125%;
}

/*Main Page Content*/
main {
    
} 

/*Page Header*/
header {
	background-color: #FA5A0F;
	border-bottom: 5px;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
}
#tag-line {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0px 0px 0px 0px;
}

/*Restaurant Info Section && About Us*/
/*Padding Many*/
header, #gen-info, #menu, #about-us, footer{
	padding: 1em 1em 1em 1em;
}

/*Menu*/
#menu {
	background-image: none;
	background-color: rgba(207,205,140,0.5);
}
dt {
	font-weight: 400;
}
dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

/*Footer*/
footer {
	background-color: #FC892F;
	border-top: 5px;
	border-color: #EC791F;
	font-size: 80%;
	text-align: right;
}

/*Navigation*/
nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
nav li {
    display: inline;
    margin-right: 1em;
}
nav a:link {
	color: #55E;
	font-size: 20px;
}
nav a:hover {
	color: #0000EE;
}

/*Media Query Sizing - All*/
@media screen and (max-width: 992px) {
    body {
        background-image: none;
        font-size: 16px;
    }
	
	.container-fluid {
		margin-top: 0px;
		margin-bottom: 0px;
		background-image: url("../img/ricepaper_v3.png");
	    opacity: 0.9;
	}
    main {
    	margin: 0px 0px 0px 0px;
    }
    #tag-line {
    	display: none;
    }
}

/*Media Query Sizing - Medium and Large*/
@media screen and (min-width: 992px) {
	body {
		font-size: 18px;
	}
	.container-fluid {
		position: absolute;
		margin-left: 30%; 
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-right: 20px;
	    background-image: url("../img/ricepaper_v3.png");
	    opacity: 0.9;
	}
	nav {
		position: absolute;
	    right: 10px;
	    top: 10px;
	}
}